@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,800&display=swap');
* {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.alert {
    padding: 15px;
}
.error {
    background-color: #FF6565;
    color: white;
}
.success{
    background-color: #8EE564;
    color: white;
}
.container {
    display:grid;
    grid-template-areas: 'title input-form''output output';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100vh 100vh; 
}


.title {
    grid-area: title;
    background-color: #292929;
    box-shadow: 1px 0px 5px #2a2a2a;
    color: white;
    
    display: grid;
    grid-template-columns: min-content;
    justify-content: left;
    align-items: center;
}
.title > *{
    margin-left: 3vw;
}

header h1{
    font-size: calc(40px + 4vw);
    overflow: hidden;

}
header h1:hover{
    cursor: default;
}

header h1:nth-child(1){
    background: linear-gradient(to left, white, white 50%, #FF6565 50%);
    background-clip: text;
    -webkit-background-clip: text;
    
    color: transparent;
    -webkit-text-fill-color:transparent;
   
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;

}

header h1:nth-child(1):hover {
    background-position: 0 100%;
}


header h1:nth-child(2){
    background: linear-gradient(to left, white, white 50%, #65B5FF 50%);
    background-clip: text;
    -webkit-background-clip: text;
    
    color: transparent;
    -webkit-text-fill-color:transparent;
   
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;
}

header h1:nth-child(2):hover{
    background-position: 0 100%;
}


header h1:nth-child(3){
    background: linear-gradient(to left, white, white 50%, #8EE564 50%);
    background-clip: text;
    -webkit-background-clip: text;
    
    color: transparent;
    -webkit-text-fill-color:transparent;
   
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease-in-out;
}

header h1:nth-child(3):hover{
    background-position: 0 100%;
}

nav {
    display: grid;
}

nav a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 30px;
}

nav a:nth-child(1){
    background: linear-gradient(to left, white, white 50%, #9b3dfa 50%);
    background-clip: text;
    -webkit-background-clip: text;
    
    color: transparent;
    -webkit-text-fill-color:transparent;
   
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 900ms ease, padding-left 400ms ease;
}

nav a:nth-child(2){
    background: linear-gradient(to left, white, white 50%, #f2ec3f 50%);
    background-clip: text;
    -webkit-background-clip: text;
    
    color: transparent;
    -webkit-text-fill-color:transparent;
   
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 900ms ease, padding-left 400ms ease;
}

nav a:nth-child(1):hover {
    background-position: 0 100%;
    padding-left: 10%;
}
nav a:nth-child(2):hover {
    background-position: 0 100%;
    padding-left: 10%;
}



.output{
    grid-area: output;
    background-color: #292929;
}


@media only screen and (max-width: 885px) {
   .container{
        grid-template-areas: 
        'title' 
        'input-form'
        'output';
       
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 100vh 100vh;
        overflow: auto;
   }
}